@model RimrockMVC.Models.ViewModels.Search<RimrockMVC.Models.APImodels.Location>

@{
    ViewData["Title"] = "Browse Locations";
}

<!--TODO: Test drop-down-->
<form method="get">
    <label asp-for="region">Select a region</label>
    <select name="region">
        @{
            foreach (var region in Model.Regions)
            {
                <option value="@region.ID">@region.Name</option>
            }
        }
    </select>
    <input type="submit" value="Filter" />
</form>

@if (Model.Results.Count == 0)
{
    <h1>No locations found!</h1>
}
else
{ 
    var favIds = ViewData["FavIds"] as List<int>;

    <ul>
        @foreach (var location in Model.Results)
        {
            <li>
                @location.Name
                <!--TODO: Don't display add favorites button if location is already favorited-->
                @if (ViewData["User"] != null && !Model.UserFavorites.Contains(location.ID))
                {
                    <a onclick="addFavorite(@location.ID);" class="favadd">Add to favorites</a>
                }
            </li>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $('.favadd').click(function (e) {
            e.preventDefault();
            $(this).toggle();
        });
    });

    function addFavorite(id)
    {
        $.ajax({
            type: 'POST',
            url: '/favorite/addfavlocation',
            datatype: 'json',
            data: { locationId: id },
            error: function () {
                alert('Error');
            }
        });
    }
</script>