$gray0: #222629;
$gray1: #474B4F;
$gray2: #6B6E70;
$gray3: #D2D6D8;
$blue0: #20B9BF;
$blue1: #2AF6FF;
$rakkas: Rakkas, cursive;

header {
    background-color: $blue0;
    width: 100vw;
    height: 6vh;
    min-height: 48px;
    line-height: 6vh;
}

#logo-area {
    background-color: $blue1;
    color: $gray0;
    width: 20vw;
    height: 100%;
    min-width: 144px;
    text-align: center;
    font-size: 3vh;
}

main {
    position: absolute;
    width: 100vw;
    height: 94vh;
}

#sidebar-toggle {
    float: left;
    padding-left: 8px;
}

#sidebar {
    float: left;
    display: none;
    background-color: $gray2;
    width: 20vw;
    min-width: 144px;
    height: 100%;
}

#renderbody {
    padding: 8px;
    color: $gray3;
    width: 100%;
    height: 100%;
    background-color: $gray1;
}

#logo {
    font-family: $rakkas;
}

@media all and (max-width: 720) {

}

@media all and (max-height: 800) {
    header {
        line-height: 48px;
    }
    main {
        height: 100vh - get-vh(48px);
    }
    #logo-area {
        font-size: 24px;
    }
}