/*Colors & Fonts*/
$brn0: #F2973C;
$brn1: #B26F2C;
$brn2: #72471C;
$brn3: #331F0C;
$grn0: #79F23C;
$grn1: #59B22C;
$grn2: #39721C;
$grn3: #19330C;
$gry0: #F2F2F2;
$gry1: #B2B2B2;
$gry2: #727272;
$gry3: #333333;
$rakkas: Rakkas, cursive;
$poppins: Poppins, sans-serif;
$cardback: #999999;

body{
    font-family: $poppins;
    background: $gry0;
}

header {
    background-color: $brn0;
    width: 100vw;
    height: 6vh;
    min-height: 48px;
    line-height: 6vh;
    text-align: right;
    color: $brn2;
    font-size: 3vh;
}

#logo-area {
    background-color: $brn3;
    color: $brn1;
    width: 20vw;
    height: 100%;
    min-width: 144px;
    text-align: center;
}

main {
    position: absolute;
    width: 100vw;
    height: 94vh;
}

#sidebar-toggle {
    float: left;
    padding-left: 8px;
}

#sidebar {
    float: left;
    display: none;
    background-color: $gry3;
    width: 20vw;
    min-width: 144px;
    height: 100%;
    text-align: center;
}

#renderbody {
    text-align: center;
    padding: 8px;
    color: $gry2;
    width: 100%;
    height: 100%;
    background-color: $gry0;
}

#logo {
    font-family: $rakkas;
}

#sidebar a {
    display: block;
    margin: auto;
    width: 18vw;
    min-width: 128px;
    height: 4vh;
    background-color: $gry1;
    color: $gry3;
    font-size: 3vh;
    line-height: 4vh;
    min-height: 36px;
    margin-top: 1vh;
}

#sidebar li :hover {
    background-color: $grn1;
    color: $grn3;
}

.listcard {
    background: $cardback;
    height: 10vw;
    width: 20vw;
    display: inline-block;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    line-height: 3vw;
    color: black;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

@media all and (max-width: 720) {

}

@media all and (max-height: 800) {
    header {
        line-height: 48px;
        font-size: 24px;
    }
    main {
        height: 100vh - get-vh(48px);
    }
    #sidebar li {
        margin-top: 8px;
        line-height: 36px;
        font-size: 24px;
    }
}